.container-fluid{
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  /*  for body background image */
  background-image: url("https://images.pexels.com/photos/1069798/pexels-photo-1069798.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center;
  /* background-size: cover; */
  background-size: calc(100% - 100px);
  background-repeat: no-repeat;
}

h1{
  color: red;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  
  /* for image behind the text  */
  background-image: url("https://img.freepik.com/free-photo/colorful-design-with-spiral-design_188544-9588.jpg?size=626&ext=jpg&ga=GA1.1.1448711260.1706400000&semt=ais");
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}